.user-cabinet-header  {
    font-size: 20px;
}
.header-title {
    font-size: 24px;
    margin: 0;
}
.header-site {
    padding: 25px 0;
    border-bottom: 2px solid #311b92;
}

.modal-wrap {
    z-index: 9999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.modal-project {
    position: relative;
    width: 250px;
    /* height: 320px; */
    border: 2px solid #311b92;
    border-radius: 12px;
    box-shadow: 1px 1px 10px #1d1d1d;
    padding: 10px;
    background: #fff;   
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; 
}

.modal-project-close {
    position: absolute;
    top: -20px;
    right: -20px;
}

.block-slider-content{
    width: 700px;
    height: 350px;
    margin-left: 0;
    transition: all ease 1s;
}

.block-slider-left,
.block-slider-right{
    width: 50%;
    /* background: red; */
    min-height: 50px;
    float: left;
    padding: 10px;
}

.block-slider-right{
    /* background: green; */
    max-height: 400px;
    overflow-y: scroll;
    padding: 10px;
}

.read-rules-back,
.read-rules {
    cursor: pointer;
}

.read-rules-back {
    color: #311b92;
}

.sign-up-modal {
    width: 370px;
}

.block-slider-wrapper {
    overflow: hidden;
}